/*  your css code here. If applicable */
h1 {
    font-size: 2em;
    font-weight: bold;
}
.blog {
	font-weight: bold;
	font-size: 30px;
	margin: 20px;
}
.brute-img {
	height: 200px;
	display: block;
	margin: 20px;
}
.brute-title {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
}
.brute-description {
	margin: 20px;
}

.dsa-img {
	height: 200px;
	display: block;
	margin: 20px;
}
.dsa-title {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
}
.dsa-para {
	margin: 20px;
}

.css-img {
	height: 200px;
	display: block;
	margin: 20px;
}
.css-title {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
}
.css-para {
	margin: 20px;
}